@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h3 class="display-2">Welcome to Sympo!</h3>
    <h1 class="display-4">We are here to help you organize your next gathering!</h1>
    <p> You can use this application to reserve your next meeting location, inform the front desk or administration of your future meeting as well as alert any gated security of the incoming guests or clients!
        All at the ease of this simple application...it's SYMPO!!</p> 

        <p>First time users please use the button below to register for your account!</p>        
        <button>New User Registration</button>
        </p>
        <p>Already registered?  Go ahead and hit the button below to login!</p>
        <button>User Login</button>
        </p>
        

        
        
</div>
